extends layout

block content
  h1= title
  p ASSIGNMENT  10  SUBMISSION .
  button(type="button", class="btn btn-dark" onclick="update()") Press Me 

  div(id = "target" ) Display
  a(Type="button", href="/teacher") Click here for teacher class

  script.
    var client_count=0
    function update(){
      client_count += 1;
      document.getElementById('target').innerHTML = "Value now : " + client_count
    };